.main-body {
    .body-1 {
        .body-item-1 {
            color: red;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            font-size: 30px;
        }
    }
    .body-2 {
        .body-item-2 {
            color: blue;
            text-align: right;
            font-family: sans-serif;
            font-size: 30px;
        }
    }
    .body-3 {
        .body-item-3 {
            color: green;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 30px;
        }
    }
}